@import "tailwindcss";

@theme {
  --background-image-result: url('/src/assets/result.png');  
  --font-lora: "Lora", sans-serif;
  --font-eb-garamond: "EB Garamond", sans-serif;
  --font-felipa: "Felipa", sans-serif;
}

body {
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}
